/target

.cargo/
.venv/
downloaded_files/
output/
sitemaps/
temp/
__pycache__/

.DS_Store
.env

flamegraph*.svg
games.db
todo.txt

# experiments
sbase/args.py
sbase/disable_urls.py
sbase/normalize.py
sbase/steam.py
